@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
}

.button {
  background-color: #756157;
  color: #ffffff;
  display: inline-block;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  padding: 10px 20px;
  text-align: center;
  font-family: inherit;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  background-color: #f2f2f2;
  color: #000000;
}

.container {
  background-color: #ffffff;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  position: relative;
  padding-left: 238px;
  padding-right: 69px;
}

.navigation-logo {
  position: absolute;
  top: 0;
  left: 71px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;

}

.navigation-item {}


.product-card-title:hover,
.navigation-link:hover {
  color: #756157;
}

.product-card-title:focus,
.navigation-link:focus {
  color: #756157;
}

.product-card-title:active,
.navigation-link:active {
  color: rgba(117, 97, 87, 0.302);
}

.navigation-link {
  text-decoration: none;
  color: #000000;
  display: block;
  padding: 20px 16px;
}

.navigation-link-current {}

.user-navigation {
  margin: 0;
  padding: 15px 0 12px 0;
  list-style: none;
  display: flex;
  width: 380px;
  flex-wrap: wrap;
  justify-content: flex-end;
  gap: 10px;
}

.user-item {}

.user-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

.search {
  display: block;
  height: 36px;
  width: 36px;
  background-image: url("../images/header/search.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.favorites {
  display: block;
  height: 36px;
  width: 36px;
  background-image: url("../images/header/favorites.svg");
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.fav {
  font-size: 10px;
  line-height: 10px;
  background-color: #7db54f;
  min-width: 20px;
  min-height: 20px;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  padding: 4px 3px;
  box-sizing: border-box;
  position: absolute;
  right: 2px;
  top: -3px;
  display: flex;
  justify-content: center;
  text-align: center;

}


.wish {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  min-width: 162px;
  max-width: 300px;
  box-sizing: border-box;
  padding: 5px 4px 10px;
  margin-left: 12px;
}


.main,
.main-catalog {
  flex-grow: 1;
}

.main-container {}

.hero {
  background-color: #2e4858;
  background-image: url("../images/divider.svg"), url("../images/index-background.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  background-position: left 0 bottom 0, 0 0;
  padding-top: 51px;
  padding-bottom: 82px;
  min-height: 485px;
  box-sizing: border-box;
}

.hero-image {
  display: block;
  margin: 0 auto;
}

.advantages {
  padding: 69px 0 0;
}

.promo-title {
  margin: 0 auto 20px;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  width: 550px;
}

.block-title {
  margin: 0 auto;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
  width: 550px;
  text-align: center;
}

.select-control {
  width: 292px;
  font-family: PT Sans;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding-left: 16px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;

}

.select-control:normal {
  border: 2px solid #e5e5e5;
}

.select-control:hover,
.select-control:focus {
  border: 2px solid #68a2ca;
}

.select-control:disabled {
  border: solid 2px #0000004d;
  color: rgba(0, 0, 0, 0.302);
}

.sedona {
  width: 620px;
  margin-bottom: 26px;
}

.advantages-intro {
  margin: 0 auto 90px;
  padding: 0;
  list-style: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  width: 651px;
}

.advantages-intro.client {
  width: 490px;
  margin: 0 auto 62px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  padding-top: 112px;
  padding-bottom: 111px;
  width: 400px;
  background-color: rgba(131, 179, 211, 0.122);
}

.advantages-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.122);
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.2);

}

.advantages-item-photo {
  background-color: #82b3d3;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
}

.advantages-item-photo.bridge {
  flex-direction: row-reverse;
}

.advantages-photo {
  padding: 102px 0 98px;
  width: 400px;
}

.sedona-photo {
  display: block;
}

.block-subtitle {
  margin: 0 auto;
  padding: 0;
  width: 230px;
  list-style: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 62px;
}

.block-subtitle-photo {
  margin: 0 0 64px;
  padding: 0;
  color: #ffffff;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-text-photo {
  margin: 0;
  padding: 0 px;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}

.service {
  margin: 0 0 0 0;
  padding: 65px 0 0 0;
}

.advantages-item-inner,
.service-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.service-item {
  background-color: #ffffff;
  width: 400px;
  padding: 184px 0 78px;
  text-align: center;
}

.service-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.122);
}

.service-item:nth-child(even) {
  background-color: rgb(255, 255, 255);
}

.housing {
  background-image: url("../images/service/housing.svg");
  background-repeat: no-repeat;
  background-position: 162px 84px;
}

.food {
  background-image: url("../images/service/food.svg");
  background-repeat: no-repeat;
  background-position: 162px 84px;
}

.souvenirs {
  background-image: url("../images/service/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: 162px 84px;
}


.service-title {
  margin: 0 0 30px;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.service-text {
  margin: 0;
  padding: 0;
}

.advantages-text {
  margin: 0 auto;
  padding: 1px 85px;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  width: 230px;
  text-align: center;
}


.catalog-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin: 0 0 11px 70px;
  padding: 0;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  width: 250px;
  margin: 0 0 40px 70px;
  padding: 0;
  list-style: none;
}

.breadcrumbs-item {
  min-width: 20px;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: #ffffff;
  display: inline-block;
}

.home {
  width: 13px;
  height: 15px;
  background-image: url(../images/breadcrumbs.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.catalog-products {}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  margin-bottom: 32px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 51px;
  padding-bottom: 40px;
  margin: 0 70px;
}

.result {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin-right: 112px;
  width: 400px;
  padding-top: 6px;
  text-align: start;
}

.catalog-filter-price-inputs {
  display: flex;
  min-height: 48px;
  gap: 2px;
  margin-bottom: 36px;

}

.catalog-filter-slider {
  width: 287px;
  caret-color: #ffffff;
}

.price-input-min,
.price-input-max {
  font-family: PT Sans;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  border: none;
  width: 142px;
}

.price-input-min {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;

}

.price-input-max {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;

}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  margin-bottom: 16px;
}

.catalog-filter-series {
  background-color: #2e4858;
  background-image: url("../images/background-filter.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  min-height: 412px;
  box-sizing: border-box;
  color: #ffffff;
  padding-bottom: 30px;
  padding-top: 33px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(min-content, 1fr));
  justify-content: space-between;
  gap: 63px;
  margin: 0 70px;
  overflow-wrap: anywhere;
}

.catalog-filter-group {
  display: grid;
  border: none;
  padding: 0;
}

.grid-element-3 {
  margin-left: 50px;
}

.control-input {}

.grid-element-4 {
  align-self: end;
}

.button-filter {
  background-color: #82b3d3;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  font-family: inherit;
  width: 191px;
}

.button-filter.apply {}

.button-filter.reset {
  background-color: transparent;
  padding-bottom: 20px;
  margin-top: 28px;
}

.hotel-search {
  padding: 100px 0 95px;
  text-align: center;
}

.hotel-title {
  margin: 0 auto 22px;
}

.hotel-search-text {
  margin: 0 98px 52px;
  list-style: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.catalog-view-switch-list,
.product-card-list {
  margin: 0 70px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.catalog-view-switch-list {
  margin: 0;
  width: 200px;
  flex-wrap: wrap;
  gap: 7px;
  justify-content: end;
}

.catalog-view-switch-item {
  width: 48px;
  height: 48px;
}

.button-tile,
.button-card,
.button-list {
  background-image: url(../images/filter-icon/list.svg);
  background-repeat: no-repeat;
  background-color: #ffffff;
  background-position: 14px;
  width: 16px;
  height: 14px;
  padding: 14px 12px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.button-tile {
  border: 2px solid #000000;
  background-image: url(../images/filter-icon/tile.svg);
}

.button-card {
  background-image: url(../images/filter-icon/card.svg);
}

.button-tile:normal,
.button-card:normal,
.button-list:normal {
  border: 2px solid #ffffff;
}

.button-tile:hover,
.button-card:hover,
.button-list:hover,
.button-tile:active,
.button-card:active,
.button-list:active {
  border: 2px solid #000000;
}

.button-tile:focus,
.button-card:focus,
.button-list:focus {
  border: 2px solid #68a2ca;
}

.product-card-item {
  margin: 0;
  width: 340px;
  min-height: 438px;
  box-shadow: 0 0 0 1px #e5e5e5;
  border-radius: 4px;
  padding: 20px;
  box-sizing: border-box;
}

.product-card-item a {
  text-decoration: none;
}

.product-card-image {
  padding-bottom: 12px;
}

.product-card-text,
.product-card-price {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.product-card-title {
  font-family: inherit;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-bottom: 16px;
}

.card-button {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-bottom: 16px;
}

.button-all {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #756157;
  color: #ffffff;
  padding: 10px 5px;
  font-family: "PT Sans";
  box-sizing: border-box;
}

.reset:hover,
.reset:focus,
.open-modal:hover,
.open-modal:focus,
.wish:hover,
.wish:focus,
.button-all:hover,
.button-all:focus {
  background-color: #615048;
  outline: none;
}

.reset:normal,
.reset:active,
.open-modal:normal,
.open-modal:active,
.wish:normal,
.wish:active,
.button-all:normal,
.button-all:active {
  background-color: #756157;
  outline: none;
}

.submit-add,
.submit-remove {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  width: 140px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #82b3d3;
  color: #ffffff;
  padding: 10px 10px;
  font-family: "PT Sans";
  border: none;
}

.submit-remove {
  background-color: #7db54f;
}

.button-filter:hover,
.button-filter:focus,
.pagination-item:hover,
.pagination-item:focus,
.button-primary:hover,
.button-primary:focus,
.submit-add:hover,
.submit-add:focus {
  background-color: #68a2ca;
  outline: none;
}

.button-filter:normal,
.button-filter:active,
.pagination-item:normal,
.pagination-item:active,
.button-primary:normal,
.button-primary:active,
.submit-add:normal,
.submit-add:active {
  background-color: #82b3d3;
  outline: none;
}

.submit-remove:hover,
.submit-remove:focus {
  background-color: #6c9e42;
  outline: none;
}

.submit-remove:normal,
.submit-remove:active {
  background-color: #7db54f;
  outline: none;
}

.button-all:disabled,
.submit-add:disabled,
.submit-remove:disabled {
  background-color: #e5e5e5;
  outline: none;
}

.pagination a {
  text-decoration: none;
  padding: 9px 18px;
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  width: 1060px;
  min-height: 60px;
  list-style-type: none;
  margin: 0 70px;
  padding: 0 0 60px 0;
  gap: 8px;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  min-width: 60px;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #000000;
  background-color: #82b3d3;
  min-width: 60px;
  min-height: 60px;
}

.pagination-current {
  background-color: #f2f2f2;
}

.open-modal {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  width: 376px;
  padding: 8px 10px;
  font-family: inherit;
}

.subscribe {
  background-color: #2e4858;
  background-image: url("../images/subscribe.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: 0 0;
  padding-top: 52px;
  padding-bottom: 82px;
  min-height: 415px;
  box-sizing: border-box;
  text-align: center;
}

.subscribe.catalog {
  background: #ffffff;
  padding-top: 94px;
}

.subscribe-title {
  padding: 45px;
  margin-bottom: -25px;
  color: #ffffff;
}

.subscribe-title-catalog {
  color: #000000;
  margin-bottom: 21px;
}

.subscribe-text {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 54px;
}

.subscribe-text-catalog {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 53px;
}

.subscribe-form {
  display: flex;
  justify-content: center;
}

.form-input {
  width: 411px;
  padding: 12px 20px;
  border: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #f2f2f2;
  font-family: inherit;
}

.form-input::placeholder {
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  width: 87px;
  height: 24px;
  opacity: 0.6;
}

.button-primary {
  background-color: #82b3d3;
  width: 232px;
  padding: 8px 50px;
  font-family: inherit;
  border-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.product-card {
  padding-bottom: 80px;
}

.hotel {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  min-height: 21px;
  padding-bottom: 13px;
}

.hotel-rating {}

.rating-star {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.star {
  display: inline-block;
  width: 18px;
  height: 17px;
  background: url(../images/star.svg) space 0 0;
}

.star-two {
  width: 42px;
}

.star-three {
  width: 66px;
}

.star-four {
  width: 89px;
}

.star-five {
  width: 95px;
}

.rating {
  background-color: #f2f2f2;
  min-width: 140px;
  min-height: 30px;
  border-radius: 4px;
  text-align: center;
  padding-top: 7px;
  text-transform: uppercase;
  margin-left: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

}

.subscribe-button-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.main-footer {
  min-height: 120px;
  padding: 28px 0 17px;
  box-sizing: border-box;
  margin: 0 70px;
}

.footer-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1060px;
  min-height: 40px;
  align-items: flex-start;

}

.social-list {
  margin: 7px 0 0;
  padding: 9px 0 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  width: 150px;
}

.phone,
.logo {
  list-style: none;
}

.number:not(:last-child) {
  margin-bottom: 10px;
}

.social-item {
  width: 48px;
  height: 40px;
}

.telegram {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  padding: 12px 5px 10px 15px;
  color: #83b3d3;
}

.vkontakte {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10px 6px 4px 12px;
  color: #83b3d3;
}

.youtube {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  padding: 11px 5px 9px 11px;
  color: #83b3d3;
}

.card-link:hover,
.card-link:focus,
.navigation-logo:hover,
.navigation-logo:focus {
  fill: #68a2ca;
  filter: drop-shadow(0 0 25px rgba(104, 162, 202, 0.5));
}


.card-link:active,
.navigation-logo:active {
  fill: rgba(104, 162, 202, 0.3);
  filter: drop-shadow(0 0 8px rgba(104, 162, 202, 0.8));
}

.search:hover,
.favorites:hover,
.search:focus,
.favorites:focus {
  fill: #756157;
  filter: drop-shadow(0 0 25px rgba(117, 97, 87, 0.5));
}

.search:active,
.favorites:active {
  fill: rgba(117, 97, 87, 0.3);
  filter: drop-shadow(0 0 8px rgba(117, 97, 87, 0.8));
}

.vkontakte:hover,
.telegram:hover,
.youtube:hover,
.vkontakte:focus,
.telegram:focus,
.youtube:focus {
  color: #68a2ca;
  outline: none;
}

.vkontakte:active,
.telegram:active,
.youtube:active {
  color: rgba(104, 162, 202, 0.302);
  outline: none;
}

.phone-link {
  display: block;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #000000;
  width: 500px;
  margin-left: 170px;
}

.logo-link {
  display: block;
  width: 120px;
  color: #000000;
}

.phone-link:hover,
.logo-link:hover {
  color: #756157;
}

.phone-link:focus,
.logo-link:focus {
  color: #756157;
}

.phone-link:active,
.logo-link:active {
  color: rgba(117, 97, 87, 0.302);
}
